/* menu.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 20px;
    text-align: center;
    color: #fff;
}

#menu.section-bg {
    background-color: #000; /* 검은색 배경으로 변경 */
}

.menu-item {
    margin-bottom: 30px;
}